/*
Primary Font: Railway
Secondary Font: Roboto Slab

Railway: 
Roboto Slab: font-family: 'Roboto Slab', serif;

Light Ash: rgb(194, 199, 207)
Dark Ash: rgb(90, 94, 99)

Light Blue: rgb(12, 111, 235)
Dark Blue: rgb(6, 32, 64)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(194,199,207);
    color: rgb(6, 32, 64);
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

span {
    color: rgb(194,199,207);
    transition: 0.5s all;
}

footer {
    background: rgb(90, 94, 99);
}

#main-timeline > ul > li {
    margin: 10px;
}

img { 
    display: block;
    width: 100%;
    height: auto;
    border: skyblue solid 5px;
    margin: 0 25px;
    margin-top: 4vh;
    padding: 10px;
    background: skyblue;
    transition: all 0.5s;
}

a {
    text-decoration: none;
}

Iframe {
    width: 90%;
    height: 650px;
    background: rgb(194,199,207);
    color: rgb(6, 32, 64);
    margin-top: 10px;
    padding: 20px;
}

h3 {
    padding: 30px;
    color: rgb(194,199,207);
    transition: 0.5s all;
}

#logo {
    width: 10vw;
    /* padding: ; */
    margin-right: 40vw;
    margin-left: 10vw;
    /* font-size: 10px; */
    text-align: justify;
    border: rgb(6, 32, 64) solid 5px;
    background: rgb(6, 32, 64);
}

#header {
    position: fixed;
    top: 0;
    display: flex;
    height: 55px;
    padding: 0px 20px;
    justify-content: space-around;
    align-items: center;
    background: rgb(90, 94, 99);
    width: 100vw;
    overflow: hidden;
}

#nav-ul {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    flex-direction: row;
    /* margin: 0px 5vw; */
    background:rgb(6, 32, 64);
    padding: 55px 0;
}

#main-body {
    margin-top: 55px;
    margin-left: 4vw;
    margin-right: 4vw;
    color: rgb(166, 199, 240);
    animation: fade-in 1s 0.3s;
}

#main-body-Header {
    text-align: center;
    padding: 10px;
    background: rgb(90, 94, 99);
    margin-top: 5vw;
    border: rgb(6, 32, 64) solid 5px;
}

#main-contens-of-body {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5vw;
    background: rgb(90, 94, 99);
    font-size: auto;
    border: rgb(6, 32, 64) solid 5px;
}

#caption {
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}

#timeline-header {
    text-align: center;
    position: static;
}

#main-timeline {
    line-height: 1.5rem;
}

#speech {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 0 250px;
    color: rgb(6, 32, 64);
}

#page-footer {
    text-align: center;
    font-size: 20px;
}

#timeline {
    text-align: justify;
}

img:hover {
    padding: 0;
}

h3:hover, span:hover {
    color: royalblue;
    font-size: 20px;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

#header, h3, h1 {
    font-family: 'Roboto Slab', serif;   
}